.results-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px auto;
  padding: 0 4%;
  form {
    width: 300px;

    input[type="text"] {
      padding: 1px 10px;
      border: 1px solid $white;
      background-color: $black;
      font-size: 1rem;
      display: block;
      margin: 0 auto;
      width: 100%;
      outline: none;
      text-align: left;
      color: $white;
      font-family: $font-2;
      user-select: text;
    }
    input[type="submit"] {
      display: none;
    }
  }
  .btn-sort-container {
    cursor: pointer;
    display: flex;

    .btn-sort {
      text-align: center;
      color: $white;
      margin-right: 1rem;
      transition: 0.1s;
      display: flex;
      border-radius: 4px;
      user-select: none;
      gap: 0.5rem;
      font-size: 0.8rem;
      &:hover {
        color: $grey;
      }
    }
    #goodToBad div {
      transform: rotate(-90deg);
      right: 18px;
    }
    #badToGood div {
      transform: rotate(90deg);
      left: 16px;
    }
  }
}
