.header {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 4%;
  h1 {
    font-size: 1.5rem;
    color: $color-1;
    text-align: center;
    text-transform: uppercase;
  }
  nav {
    font-size: 0.7rem;

    ul {
      display: flex;

      a {
        margin-left: 18px;
        color: $white2;
        text-align: center;
        &:hover {
          color: $grey;
        }
        &.nav-active {
          color: $white;
          &:hover {
            cursor: default;
          }
        }
      }
    }
  }
}
